<section class="section-title">
  <h2>Bài tập Lab1</h2>
  <div class="section-links">
      <ul>
        <li >
          <a class="btn btn-success" href="#" routerLink="/Lab1_1.html">Câu
            1</a>
        </li>
        <li >
          <a class="btn btn-success" href="#" routerLink="/Lab1_2.html" >Câu
            2</a>
        </li>
        <li>
          <a class="btn btn-success" href="#" routerLink="/Lab1_3.html" >Câu
            3</a>
        </li>
        <li>
          <a class="btn btn-success" href="#" routerLink="/Lab1_4.html">Câu
            4</a>
        </li>
        <li>
          <a class="btn btn-success" href="#" routerLink="/Lab1_5.html">Câu
            5</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success" href="#" routerLink="/Lab1_6.html">Câu
            6</a>
        </li>
        <li>
          <a class="btn btn-success" href="#" routerLink="/Lab1_7.html">Câu
            7</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success" href="#" routerLink="/Lab1_8.html">Câu
            8</a>
        </li>
        <li >
          <a class="btn btn-success" href="#" routerLink="/Lab1_9.html">Câu
            9</a>
        </li>
        <li>
          <a class="btn btn-success" href="#" routerLink="/Lab1_10.html">Câu
            10</a>
        </li>
        <li >
          <a class="btn btn-success" href="#" routerLink="/Lab1_11.html">Câu
            11</a>
        </li>
      </ul>
  </div>
</section>
